## Operators

- Binary
- Unary

- Priorities
- Binding

## Bitwise

- Bitwise not ~
- And &
- Xor ^
- Shift left <<
- Shift right >>

In [8]:
~2

-3

In [9]:
2 & 3

2

In [10]:
1 ^ 4

5

## Boolean Operation

- And
- OR

In [13]:
x = 7
y = 3
x > y and (x-y) < y

False

In [15]:
x = 7
y = 3
x > y or y > x

True

## Relational operators

- Equals ``=``
- Not equals ``!=``
- Greater than ``>``
- Greater or equal ``>=``
- Less than ``<``
- Less or equal ``<=``

In [16]:
'Dublin' == 'dublin'

False

In [17]:
5 > 2

True

In [18]:
4 <= 8

True

## IO Operations

- ``input()``
- ``print()``
- ``int()``
- ``float()``
- ``str()``
- ``len()``

In [21]:
type(int("25"))

int

In [22]:
type(float('6.54'))

float

In [23]:
len('Dublin')

6

## Type Casting (Conversion of Data Stream to another type)

In [24]:
x = 1
y = 5
my_string = "{} + {} = {}".format(x,y,x+y)
my_string

'1 + 5 = 6'

## Conditional Operators

- If
- If-else
- If-elif
- If-elif-else

In [33]:
x = 2
y  = 4
if x > y:
    print("X is of larger value")
else:
    print("X is not larger in value than Y")

X is not larger in value than Y

In [40]:
x = 2
if x == 2:
    pass

In [45]:
x = 3
y = 4
if x > 5:
    print("X is not 0")
elif y == 2:
    print("Value of Y is 2")
else:
    print("X is not 1 and Y is 2")

X is not 1 and Y is 2

## Loops

- For
- While

In [47]:
for i in range(5):
    print(i)

0
1
2
3
4

In [ ]:
i = 1
while True:
    print(i)
    if i == 10:
        break
    else:
        i = i + 1

## Sequences

- Set
- Tuple
- List
- Dict

In [50]:
a = set((1,2,3,4,5))
for i in a:
    print(i)

1
2
3
4
5

In [51]:
a = list([1,2,3,4,5])
for i in a:
    print(i)

1
2
3
4
5

In [49]:
for i in range(10):
    print(i)
    if i == 8:
        break
else:
    print("Didnt finish gracefully")

0
1
2
3
4
5
6
7
8

In [52]:
for i in range(10):
    if i % 2 == 0:
        continue
    print("This number {} is odd!".format(i))

This number 1 is odd!
This number 3 is odd!
This number 5 is odd!
This number 7 is odd!
This number 9 is odd!

In [53]:
# break - example

print("The break instruction:")
for i in range(1, 6):
    if i == 3:
        break
    print("Inside the loop.", i)
print("Outside the loop.")


# continue - example

print("\nThe continue instruction:")
for i in range(1, 6):
    if i == 3:
        continue
    print("Inside the loop.", i)
print("Outside the loop.")

The break instruction:
Inside the loop. 1
Inside the loop. 2
Outside the loop.

The continue instruction:
Inside the loop. 1
Inside the loop. 2
Inside the loop. 4
Inside the loop. 5
Outside the loop.

In [54]:
i = 1
while i < 5:
    print(i)
    i += 1
else:
    print("else:", i)

1
2
3
4
else: 5

In [56]:
# Example 1
word = "Python"
for letter in word:
    print(letter, end="*")

# Example 2
for i in range(1, 10):
    if i % 2 == 0:
        print(i)

P*y*t*h*o*n*2
4
6
8

In [57]:
text = "pyxpyxpyx"
for letter in text:
    if letter == "x":
        continue
    print(letter, end="")

pypypy